/* All day holiday cells */
.o_calendar_renderer .o_calendar_widget .fc-daygrid-day[style*="background-color: rgb(229, 229, 229)"] {
    background-color: #007bff !important;
    color: white !important;
}
